body {
     margin: .75vh;
    height: 100%;
    overflow-y: hidden;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  animation: overlayAnimation 1s ease-out 2s forwards;
  z-index: 9999;
}

.overlay:hover{
    cursor: url('buffer.png'), auto;
}

@keyframes overlayAnimation {
  0% {
    opacity: 1;
/*    filter: grayscale(0);*/
  }
  100% {
    opacity: 0;
/*    filter: grayscale(100%);*/
    display: none;
  }
}

#popup:hover {
     cursor: url("buffer.png"), auto;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: black;
    z-index: 1000;
}

span{
    transition: .25s ease;
}

span:hover{
    color: transparent;
    text-shadow: 0px 0px .3em #000000;
}

#top{
    margin-top: -1vh;
}
#arrow{
    font-size: 2.5vh;
}

.timer {
    width: 100%;
    position: relative;
    margin: 0;
    display: flex;
    justify-content: flex-end; /* Align #timer to the right */
    z-index: 100;
}

#timer {
    border: 1.25px solid black;
    border-radius: .4em;
    background-color: white;
    font-family: 'BBB Strobo Variable';
    text-align: center;
    width: 3.25em;
    padding: .15em;
    padding-top: .35em;
    margin: 0;
    font-size: 1vw; /* Set initial font size */
    transition: font-size .75s ease; /* Add transition for smoother font size change */
    position: fixed;
}

pre {
    margin-top: 2.5vh;
    font-family: 'PP Neue Montreal';
    font-size:1vw;
    line-height: 3.05vh;
    width: 25%;
}



.body{
	display: flex;
	box-sizing: border-box;
    font-family: 'PP Neue Montreal';
    font-size:1vw;
    line-height: 3vh;

}

.wholetext{
	box-sizing: border-box;
	width:  100%;
    text-align: justify;
	margin-top: -1.5vh;
    margin-bottom: -2vh;
}


img {
    border-radius: 7.5%;
    border: 1px solid black;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .25s ease;
}

.image-container {
    position: absolute;
    top: 50%;
    right: 28%;
    transform: translateX(50%);

}

#image1{
    width: 20vw;

}
#image2{
    width: 12vw;
}
#image3{
    width: 28vw;
}
#image4{
    width: 20vw;
}
#image5{
    width:12vw;
}
#image6{
    width: 16vw;
}
#image7{
    width: 16vw;
}
#image8{
    width: 36vw;
}

#image9{
    width: 40vw;
}
#image10{
    width: 16vw;
}
#image11{
    width: 16vw;
}
#image12{
    width: 2vw;
}
#image13{
    width: 12vw;
}
#image14{
    width: 20vw;
}
#image15{
    width: 12vw;
}
#image16{
    width: 12vw;
}
#image17{
    width: 24vw;
}
#image18{
    width: 12vw;
}
#image19{
    width: 16vw;
}
#image20{
    width: 16vw;
}
#image21{
    width: 8vw;
}
#image22{
    width: 8vw;
}
#image23{
    width: 8vw;
}
#image24{
    width: 20vw;
}
#image25{
    width: 12vw;
}
#image26{
    width: 8vw;
}
#image27{
    width: 20vw;
}
#image28{
    width: 20vw;
}
#image29{
    width: 28vw;
}

#popup{
    position: fixed;
    background: white;
    top: 0%;
    left: 0;
    right: 0;
    border: 1px solid black;
    border-radius: .5em;
    font-family: 'PP Neue Montreal';
    text-align: left;
    padding: .2em;
    padding-top: .2em;
    display: block;
    font-size: 18vh;
    max-width: 100%;
    justify-content: center;
    line-height: 95%;
    font-style: normal;
    font-weight: 500;
/*    line-height: normal;*/
    text-transform: uppercase;
    display: none;
    margin: .75vh;
}

#popup:hover{
    overflow-y: hidden;
}

.countdown{
    background: black;
    color: white;
    border-radius: 100%;
    padding-top: .4em;
    padding-left: .3em;
    padding-right: .3em;
    padding-bottom: .15em;
    font-style: normal;
    text-align: center;
    font-family: 'BBB Strobo Variable';
    -webkit-text-stroke: 2px;
    line-height: 100%;
    font-size: 17vh;
    margin-top: -4.5vh;
    margin-right: .75vw;
    text-align: center;;
    float: right; /* Align to the right */
}

#arrow1{
    display: flex;
    margin-top: -1vh;
    justify-content: right;
    font-size: 2.5vh;
}

#arrow:hover{
    color: black;
    text-shadow: 0px 0px 0px rgba(255,255,255,0);
}
#arrow1:hover{
    color: black;
    text-shadow: 0px 0px 0px rgba(255,255,255,0);
}

@media only screen and (max-width:1000px){
    body{
        width: 100%;    }
    .body, pre {
        font-size: 3.5vw;
        line-height: 2vh;
        max-width: 100%;
    }
    .image-container{
        position: relative!important;
        margin-top: 5vh;
        display: block;
        margin: 0 auto;
        margin-right: 10vh;
        margin-top: 78vh;
        transform: scale(1.25);
    }

    #popup{    
    /*margin: 10vw;*/
    position: fixed;
    background: white;
    top: 1%;
    left: 0;
    right: 0;
    border: 1px solid black;
    border-radius: .5em;
    font-family: 'PP Neue Montreal';
    text-align: left;
    padding: .2em;
/*    width: 85%;*/
    padding-top: .2em;
    display: block;
    font-size: 7.25vw;
    max-width: 100%;
    justify-content: center;
    line-height: 95%;
    font-style: normal;
    height: 100%;
    font-weight: 500;
/*    line-height: normal;*/
    text-transform: uppercase;
    display: none;
}
.countdown{
    background: black;
    color: white;
    border-radius: 100%;
    padding-top: .4em;
    padding-left: 0em;
    padding-right: 0em;
    padding-bottom: .15em;
    font-style: normal;
    text-align: center;
    font-family: 'BBB Strobo Variable';
    -webkit-text-stroke: 2px;
    line-height: 100%;
    font-size: 8.5vh;
    margin-top: 4vh;
    display: block;
    margin-right: .75vw;
    text-align: center;
    float: none;
}
#popup:hover{
    overflow-y: scroll;
}
.timer {
    width: 98%;
}
#arrow1{
    margin-right: 2vw;
}
}

@media only screen and (max-width: 400px){
    #popup{
        font-size: 7.25vh;
        max-width: 85.5%;
        padding: 0.12em;
        margin-top: 0;
        height: 90%;
        justify-content: center;
    }
    .countdown{
        width: 31%;
        margin-top: 1vh;
    }
    .timer {
    width: 92%;
}
#arrow1{
    margin-top: 11vh;
    margin-right: 8vw;
}
}
/* Add this CSS for the black and white overlay */





