body {
    margin: 0.75vh;
    margin-top: 0vh;
    display: flex;
    justify-content: left;
    align-items: left;
    height: calc(100vh - 1.5vh); /* Adjust the height to consider the top and bottom margin */
    overflow: hidden; /* Prevent scrollbars due to margin */
}

.container {
    text-align: left;
    margin: 0;
}

.text {
    font-family: 'PP Neue Montreal';
    font-size: 2.25vw;
    line-height: 60%;
}

img {
    transition: all 0.3s ease;
    animation: rotate 2s infinite linear;
    /* text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}

img:hover {
    animation: rotate 0s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes scale {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.5);
    }
}
    @media only screen and (max-width: 540px) {
        .text{
            font-size: 7vw;
            line-height: 100%;
        }
    }